html {
  content: "";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}






body {
  background-image: linear-gradient(to bottom right, #000000, #330000);
  text-align: center;
  margin: auto;
  line-height:2;
  background-size: cover;
  color:#fff;
}

img{
  border-radius: 50%;
  height: 12rem;
  width: auto;
  margin-top:3rem;
}


p {
  font-size: 1.2rem;
}

a:before ,
a:after {
  content: "";
  width: 25%;
  *max-width: 100px; /* if needed */
  display: inline-block;
  height: .25rem;
  background: #aaa;
  margin: 0 10px 0 10px ;
}

a {
color: yellowgreen;
font-weight: bold;
letter-spacing: 3px;
font-size: 1.8rem;
text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 996px){
  body {
    margin-left: 0;
  }
}