/* THIS IS MY alternative CSS STYLESHEET, I SHOULD USE IT AS A GUIDANCE AND FOLLOW THE STRUCTURE. APRIL 8 2020.
--------------------------------- */


/* RESET
--------------------------------- */
/* #region  */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* box model to border-box */
html {
  box-sizing: border-box;
}


/* #endregion */

/* SINGLE COMMENT */


/* BASIC FORMATTING
--------------------------------- */

/* root formats */
html {
  font-size: 16px; /* font pixel size should always be to root */
  scroll-behavior: smooth;
}

/* the body formats */
body {
  font-size: 1rem; /* rem is related to the root (html), but em is related to the parent */
  font-family: sans-serif;
  line-height: 1.4;
}

/* links */
a {
  text-decoration: none;
  color: darkgrey;
  outline: none;
  transition: color 0.5s ease; /* it is the litile animiation when i point on the link */
}

a:hover {
  color: gray;
}

/* buttons */
button {
  background: none;
  border: none;
}

/* inputs */
input, input:focus {
  border: none;
  outline: none;
}

/* titles formatting */
h1, h2 {
  font-weight: 700;
}
h3 {
  font-weight: 600;
}
p {
  margin-bottom: 1em;
}
/* HELPER CLASSES
--------------------------------- */


/* LAYOUT
--------------------------------- */


/* MEDIA QUERIES
--------------------------------- */